@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body{
    margin: 0;
}
.navigation{
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    list-style: none;
    top: 45%;
    transform: translateY(-50%);
    z-index: 39;
}
.navigation:hover{
    transform: scale(1.3);
}

.navigation li{
    background: #ccc;
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    border-radius: 50px;
    margin-top: 10px;
}

section{
    background-image: url('IMG_20230215_145353_566.jpg');
    background: cover;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    height: 110vh;
    
}
section:nth-child(2){
    background: radial-gradient(gray, violet);
}
section:nth-child(3){
    background: skyblue;
}
section:nth-child(4){
    background: purple;
}

section > #sect_1{
    text-align: center;
    line-height: 100vh;
    font-size: 20px;
}

section > #sect_2{
    text-align: center;
    line-height: 100vh;
    font-size: 20px;
}


section > #sect_3{
    text-align: center;
    line-height: 100vh;
    font-size: 20px;
}


section > #sect_4{
    text-align: center;
    line-height: 100vh;
    font-size: 20px;
}

header{
      background: radial-gradient(pink, gray);
      height: 80px;
      line-height: 100px;
      margin-top: -7%;
      border-bottom: orangered 2px solid;
      position: fixed;
       } 
header:hover{
  transform-style: preserve-3d;
}
       #header a{
           text-transform: uppercase;
           color: white;
           text-shadow: 3px 4px 5px black;
           font-family: times new roman;
           text-decoration: none;
           font-size: 20px;
           margin-left: 2%;
           position: relative;
           font-weight: bold;
       }
       .gero{
           color: orangered;
       }
       .img{
           float: right;
           position: relative;
           margin-top: -30%;
           margin-right: 30%;
      }
section_1{
          height: 50vh;
      }
.fa{
    width: 20px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
.fa-facebook{
    color: white;
    background: blue;
}
.fa-github{
    color: black;
    background: white;
}
.fa-whatsapp{
    color: white;
    background: green;
}
.fa-twitter{
    color: blue;
    background: white;
}
.fa-instagram{
    color: red;
    background: white;
}
.fa-youtube{
    color: red;
    background: white;
}
#container{
    background: wheat;
    height: 200vh;
    border-top: 10px solid wheat;
    background: cover;
    }
  
#social_icons{
    text-align: center;
}
.text_social{
    font-size: 20px;
}

#nav{
    margin-top: 20%;
}
#links ul{
    padding: 0;
}
#links li{
    display: inline;
    padding: 0 9px 0 9px;
    font-size: 17px;
}
#links a{
    text-decoration: none;
    color: #999;
}
#myinfo .myinfo_text{
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 50%;
    font-family: times new roman;
}
.dg{
    font-size: 30px;
    color: blue;
    font-weight: bolder;
    font-family: times new roman;
    animation: color 1s infinite;
}
@keyframes color {
    50%{color: orangered;}
}
#myform{
    text-align: center;
    margin-top: 20%;
    margin-left: -4%;
}

#myform #nome{
    height: 35px;
    border: none;
    width: 80%;
    margin-left: -2%;
}
.fa-user{
    margin-left: -4%;
}

#myform #phone{
    height: 35px;
    border: none;
    width: 80%;
    margin-left: -0.7%;
}
.fa-phone{
    margin-left: -5%;
}
textarea{
    width: 78.8%;
    height: 50vh;
    margin-left: 7%;
}
#mycomit{
    text-transform: uppercase;
    margin-top: -10%;
    margin-left: 25%;
    position: relative;
}
button{
    margin-left: 50%;
    padding: 5px 10px;
}
