@import url( https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
);

/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.fa-bars{
    display: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 40px 100px;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}
header.sticky{
    padding: 15px 100px;
    background: #555;
    border-bottom: 2px solid orangered;
}
header .logo{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #F4F4F4;
    font-size: 2rem;
    text-shadow: 2px 3px 4px black;
    border-top: 2px solid orangered;
    border-bottom: 2px solid #F4F4F4;
}
header .logo .highlight{
    color: orangered;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    text-decoration: none;
    color: #F4F4F4;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.6s;
}
header ul li a:hover{
    color: orangered;
}
.container{
    padding-top: 100px;
    color: white;
}
.theader{
    text-align: center;
    display: flex;
    overflow-x: scroll;
    overflow: auto;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    height: 15vh;
    line-height: 15vh;
}
.theader a{
    text-align: center;
    color: white;
    padding: 0 20px;
    font-weight: bolder;
}
.fa{
    font-size: 20px;
}
.theader a:hover{
    transition: 0.6s;
    color: black;
    background: lightgray;
    font-weight: bolder;
}


@media(max-width: 320px){
    
.fa-bars{
    position: absolute;
    left: 0;
    margin-left: 4%;
    font-size: 2rem;
    color: #F4F4F4;
    display: block;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 40px 90px;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

.theader{
    text-align: center;
    display: flex;
    overflow-x: scroll;
    overflow: auto;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    height: 13vh;
    line-height: 15vh;
}
.theader a{
    text-align: center;
    color: white;
    padding: 0 20px;
    text-transform: capitalize;
}
.fa{
    font-size: 17px;
    font-weight: 100;
}
header.sticky{
    padding: 15px 90px;
    background: #555;
    border-bottom: 2px solid orangered;
}
header .logo{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #F4F4F4;
    font-size: 1.5rem;
    text-shadow: 2px 3px 4px black;
    border-top: 2px solid orangered;
    border-bottom: 2px solid #F4F4F4;
}
header .logo .highlight{
    color: orangered;
}
header ul{
    position: relative;
    display: none;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    text-decoration: none;
    color: #F4F4F4;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.6s;
}
header ul li a:hover{
    color: orangered;
}
}
