
body{
    margin: 0;
     }
 header{
      background: gray;
      height: 80px;
      line-height: 100px;
      margin-top: -7%;
      border-bottom: orangered 2px solid;
       } 
       #header a{
           text-transform: uppercase;
           color: white;
           text-shadow: 3px 4px 5px black;
           font-family: times new roman;
           text-decoration: none;
           font-size: 20px;
           margin-left: 2%;
           position: relative;
       }
       .gero{
           color: orangered;
       }
       .img{
           float: right;
           position: relative;
           margin-top: -30%;
      }
      
footer{
    margin-top: 100vh;
    background: black;
    height: 50vh;
}
#links{
    text-align: center;
    color: white;
}
#links ul{
    padding: 0;
}
#links li{
    display: inline;
}
#links a{
    text-decoration: none;
    color: whitesmoke;
    font-family: times new roman;
}
